In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import joblib

In [9]:
# Шаг 1: Создание датасета
np.random.seed(42)

data = {
    'Предмет1': np.random.randint(0, 100, 2000),
    'Предмет2': np.random.randint(0, 100, 2000),
    'Предмет3': np.random.randint(0, 100, 2000),
    'Предмет4': np.random.randint(0, 100, 2000),
    'Предмет5': np.random.randint(0, 100, 2000),
    'Предмет6': np.random.randint(0, 100, 2000),
    'Итоговая_оценка': np.random.choice(['Удовлетворительно', 'Хорошо', 'Отлично'], size=2000)
}

df = pd.DataFrame(data)

In [17]:
df.head()

,Предмет1,Предмет2,Предмет3,Предмет4,Предмет5,Предмет6,Итоговая_оценка
0,51,75,65,25,12,37,Удовлетворительно
1,92,45,89,46,39,37,Удовлетворительно
2,14,31,12,4,88,52,Отлично
3,71,78,55,89,67,92,Удовлетворительно
4,60,79,30,19,41,99,Удовлетворительно

In [19]:
# Шаг 2: Разбиение на тестовую и обучающую выборки
X = df.drop('Итоговая_оценка', axis=1)
y = df['Итоговая_оценка']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [20]:
# Шаг 3: Выбор лучших 3 признаков

In [21]:
df.describe()

,Предмет1,Предмет2,Предмет3,Предмет4,Предмет5,Предмет6
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,49.038000,48.119500,50.259000,49.334000,49.720500,50.368500
std,29.346894,28.768351,28.443478,28.848511,28.907165,28.602461
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,24.000000,23.000000,26.000000,24.000000,25.000000,25.000000
50%,49.000000,47.000000,52.000000,49.000000,50.000000,52.000000
75%,74.000000,73.000000,75.000000,75.000000,75.000000,75.000000
max,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000

In [13]:
#Возьмем Предмет6 и Предмет1 и Предмет2, так как у них отличчаются средние и медианные значения

In [22]:
selected_features = ['Предмет1', 'Предмет2', 'Предмет6']

X_train_selected = X_train[selected_features]
X_test_selected = X_test[selected_features]

In [23]:
# Шаг 4: Обучение модели RandomForest
rf_model = RandomForestClassifier(random_state=42)
rf_model.fit(X_train_selected, y_train)

RandomForestClassifier(random_state=42)

In [24]:
# Шаг 5: Тестирование модели и вывод точности RandomForest
rf_predictions = rf_model.predict(X_test_selected)
rf_accuracy = accuracy_score(y_test, rf_predictions)
print(f'RandomForest Accuracy: {rf_accuracy:.2f}')

RandomForest Accuracy: 0.33

In [25]:
# Шаг 6: Сохранение модели
joblib.dump(rf_model, 'rf_model.joblib')

['rf_model.joblib']

In [26]:
# Шаг 7: Функциия для прогнозирования оценки студента
def predict_grade(subject_scores):
    # Пример входных данных: {'Предмет1': 80, 'Предмет2': 70, 'Предмет6': 90}
    input_data = pd.DataFrame([subject_scores])
    input_data = input_data[selected_features]  # Выбор только выбранных признаков
    prediction = rf_model.predict(input_data)[0]
    return prediction

In [28]:
# Пример использования функции
student_subjects = {'Предмет1': 80, 'Предмет2': 70, 'Предмет6': 90}
predicted_grade = predict_grade(student_subjects)
print(f'Predicted Grade: {predicted_grade}')

Predicted Grade: Отлично

In [29]:
# Пример использования функции
student_subjects = {'Предмет1': 50, 'Предмет2': 100, 'Предмет6': 0}
predicted_grade = predict_grade(student_subjects)
print(f'Predicted Grade: {predicted_grade}')

Predicted Grade: Удовлетворительно